{% extends 'base.html.twig' %}

{% block title %}Modifier bien{% endblock %}

{% block body %}
    {% if success == 1 %}
        <center><div class="btn btn-success">
            <a style="color:white">Bien modifié avec succès!</a>
        </div></center>
        <br/><br/>
    {% endif %}
    <center><div style="width: 85%; border: 1px solid black; background-color: background"><br/>
    <table width="95%">
        <tr style="border-bottom:1pt solid black;">
            <th>Nombre de Piece</th>
            <th>Nombre de Chambre</th>
            <th>Superficie</th>
            <th>Prix</th>
            <th>Chauffage</th>
            <th>Année</th>
            <th>Localisation</th>
            <th>Etat</th>
            <th>Type</th>
	</tr>
        <tr style="border-bottom:1pt solid black;">
            <td style="border-left:1pt solid black;"><center>{{ bien.nbPiece }}</center></td>
            <td style="border-left:1pt solid black;"><center>{{ bien.nbChambre }}</center></td>
            <td style="border-left:1pt solid black;"><center>{{ bien.superficie }}</center></td>
            <td style="border-left:1pt solid black;"><center>{{ bien.prix }}</center></td>
            <td style="border-left:1pt solid black;"><center>{{ bien.chauffage }}</center></td>
            <td style="border-left:1pt solid black;"><center>{{ bien.annee }}</center></td>
            <td style="border-left:1pt solid black;"><center>{{ bien.localisation }}</center></td>
            <td style="border-left:1pt solid black;"><center>{{ bien.etat }}</center></td>
            <td style="border-left:1pt solid black;border-right:1pt solid black"><center>{{ bien.idType.libelle }}</center></td>
        </tr>
    </table>  
    <h3><center>Formulaire de modification de bien :</center></h3>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <br/>
    <div class="row">
        <div>
            <a class="btn btn-danger" href="/consulterBien">Annuler</a>
            <button style="margin-left: 20px" type="submit" class="btn btn-success">Valider</button>
        </div>
    </div>
    <br/>
    {{ form_end(form) }}
    </div></center>
    <br/>
{% endblock %}
