{% extends 'base.html.twig' %}

{% block title %}Ajouter visite{% endblock %}

{% block body %}
    <center><div style="width: 50%; border: 1px solid black; background-color: background"><br/>
    {{ form_start(form) }}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}
    <h3><center>Formulaire d'ajout de visite :</center></h3>
    {{ form_widget(form) }}
    <br/>
    <br/>
        <div class="row">
            <div>
                <button type="reset" class="btn btn-danger">Annuler</button>
                <button style="margin-left: 20px" type="submit" class="btn btn-success">Valider</button>
            </div>
         </div>
    <br/>
    {{ form_end(form) }}
    </div></center>
    {% if success == 1 %}
        <br/><br/>
        <center><div class="btn btn-success">
            <a style="color:white">Visite ajoutée avec succès!</a>
        </div></center>
    {% endif %}
    {% if success == -1 %}
        <br/><br/>
        <center><div class="btn btn-danger">
            <a style="color:white">Cette visite existe déjà!</a>
        </div></center>
    {% endif %}
{% endblock %}
